@import 'tailwindcss';
@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
    scrollbar-width: none;
}

body {
  background-image: url("../src/assets/background-img.webp");
  /* background: linear-gradient(to top right, rgb(148, 21, 187), rgb(40, 147, 234)); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.card-gradd {
  background: linear-gradient(to right, oklch(29.3% 0.136 325.661), oklch(52.5% 0.223 3.958));
}